## Overview
This project involves a comprehensive data analysis and visualization task where we leverage both Python and Tableau to derive insights and present data in a visually appealing manner. While Python offers powerful libraries for data manipulation and initial visualization, Tableau excels in creating interactive and professional-quality dashboards that are suitable for presentations.

##  Step : 1
 Liabraries which we are using for this project is Pandas through this we will Gather data, explore data and Manipulate the data :
 the data is already cleaned so we won't clear the data :

## step 2 : For Enhanced Visualization we will use  Tableau :
#Advantages of Tableau:
>>Interactive Dashboards: Create dynamic and interactive dashboards that allow users to explore the data.
>>Professional Quality: Produce high-quality visualizations that are aesthetically pleasing and suitable for presentations.
>>Ease of Use: Tableau's drag-and-drop interface makes it easy to create complex visualizations without extensive coding.

In [1]:
# Liabraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
#lets load the data set
bike = pd.read_csv('C:/Users/91983/OneDrive/london_merged.csv')

In [3]:
#explore the data
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
bike.shape

(17414, 10)

In [5]:
bike

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [6]:
#count the unique vales in the weather_code column
bike.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [7]:
# #count the unique vales in the Season column
bike.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [8]:
# specifing the column names that i want to use
new_cols_dict={
    'timestamp':'time',
    'cnt' : 'count',
    't1' : 'temp_real_C',
    't2': 'temp_feels_like_C',
    'hum':'humidity',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'season':'seasons',
    'is_holiday':'holiday',
    'is_weekend':'is_weekend',
    
}
# Renaming the columns to the specified colum names:
bike.rename(columns = new_cols_dict, inplace = True)

In [9]:
# changing the humidity values to percentage :
bike.humidity = bike.humidity / 100

In [10]:
# creating a season dict so that we can map the intergers into written values:
seasons_dict = {0:'Spring',1:'Summer',2:'Autumn',3:'Winter'}

In [11]:
# creating a weather dictionary so that we can map the integeto the actual written value:
weather_dict = {1:'Clear',2:'Scattered clouds',3:'Broken clouds',4:'Cloudy',7:'Rain',10:'Rain with thunderstrom',26:'Snow'}

In [12]:
# changing the season column data type to string:
bike.seasons = bike.seasons.map(seasons_dict)


# changing the weather column data type to string:
bike.weather = bike.weather.map(weather_dict)

In [13]:
# checking our data frame
bike.head()

,time,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,weather,holiday,is_weekend,seasons
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter

In [14]:
#save this final data frame to excel file so that we can visualize in tableau.The file name will be 'london_bike_final':
bike.to_excel('london_bike_final.xlsx',index=False)